// Just for the trainers index page
--- # Only the main Sass file needs front matter (the dashes are enough) --- @charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item-teaser > img {
  width: 100%;
  width: auto\9;
  height: 250px;
  vertical-align: middle;
  border: 0;
  object-fit: cover;
  object-position: 50% 40%;
  -ms-interpolation-mode: bicubic;
}


