/* ==========================================================================
   DRA skin
   ========================================================================== */

/* Fonts */
$serif: "Roboto", serif !default;
$sans-serif: "Roboto", sans-serif !default;
$sans-serif-narrow: "Univers Light Condensed" !default;


$global-font-family: $sans-serif !default;
$header-font-family: $sans-serif-narrow !default;
$caption-font-family: $serif !default;


/* Colors */
$background-color: #e7f1e7 !default;
$text-color: #40514e !default;
$muted-text-color: #40514e !default;
$primary-color: #eb8599 !default;
$border-color: #ffffff !default;
$footer-background-color: #78648b !default;
$link-color: #eb8599 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
